fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
requests
websockets
httpx
alembic
openai
langchain
langchain-openai
langchain-chroma
langchain-core
langchain-community
langchain-text-splitters
deepgram-sdk
opencv-python
mediapipe
pillow
# LiveKit core and plugins
livekit-agents[openai]~=1.0
livekit-agents[cartesia]~=1.0
livekit-agents[silero]~=1.0
livekit-plugins-noise-cancellation~=0.2
livekit-plugins-deepgram
livekit-plugins-turn-detector
pydantic